@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: var(--font-oswald);
  }
  :root {
    --primary-color: themes("primary");
    --secondary-color: themes("secondary");
    --white-color: themes("white");
    --black-color: themes("black");
    --gray-color: themes("gray");
    --success-color: themes("success");
    --warning-color: themes("warning");
    --error-color: themes("error");
    --info-color: themes("info");
    --base-500: themes("base-500");
    --base-600: themes("base-600");
    --base-700: themes("base-700");
    --base-800: themes("base-800");
    --base-900: themes("base-900");
  }
}
